[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule ".vim/bundle-available/powerline"]
	path = vim/bundle-available/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule ".vim/bundle-available/ctrlp.vim"]
	path = vim/bundle-available/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "iTerm-2-Color-Themes"]
	path = iTerm-2-Color-Themes
	url = https://github.com/baskerville/iTerm-2-Color-Themes.git
