[core]
	excludesfile = ~/.dotfiles/.gitignore_global
	whitespace = nowarn
[user]
	name = Peter Naimoli
	email = pnaimoli@gmail.com
[push]
	default = simple
[credential]
	helper = cache
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	staged = diff --cached
